$light: #ffffff;
$dark: #000000;
$yellow: #fcc828;
$violet: #43068F;
$darkBlue: #240052;
$midBlue: #4913A7;

$maxWidthContainer: 1536px;
$maxWidthSmallContainer: 1260px;

$primaryGradient: radial-gradient(#241057, #000000);
$goldGradient: linear-gradient(180deg, rgba(239, 212, 103, 1) 0%, rgba(224, 181, 76, 1) 44%, rgba(204, 123, 22, 1) 71%);
$goldGradientLight: linear-gradient(180deg, rgba(255, 255, 95, 1) 0%, rgba(253, 175, 35, 1) 77%);
$pinkGlow: 
/* Outer pink glow (large blur) */
  0 0 8px rgba(255, 48, 171, 0.6),
  0 0 16px rgba(255, 48, 171, 0.5),
  0 0 24px rgba(255, 48, 171, 0.4),
  /* Pink stroke (stroke imitation) */ -1px -1px 0 rgb(189, 7, 114),
  1px -1px 0 rgb(189, 7, 114),
  -1px 1px 0 rgb(189, 7, 114),
  1px 1px 0 rgb(189, 7, 114);
$yellowGlow:
  0 0 8px rgba(255, 136, 64, 0.6),
  0 0 12px rgba(255, 136, 64, 0.5),
  0 0 16px rgba(255, 136, 64, 0.4);
