@use '../../../../styles/abstract/breakpoints' as *;
@use '../../../../styles/abstract/variables' as *;

$scale-max: 1.1;

@keyframes spinScaleCW {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(2deg) scale($scale-max);
  }

  100% {
    transform: rotate(4deg) scale(1);
  }
}

@keyframes spinScaleCCW {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(-1deg) scale($scale-max);
  }

  100% {
    transform: rotate(-3deg) scale(1);
  }
}

.legendsSectionComponent {
  position: relative;
  overflow: hidden;
  background-image: url('/images/lp_v10/legendsSection_back.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.legendsSectionShine {
  position: absolute;
  max-width: $maxWidthSmallContainer;
  width: 110%;
  height: 100%;
  top: 0;
  left: 10%;
  background: none;
  pointer-events: none;


  @media (min-width: $breakpoint_768) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.legendsSectionShine1 {
  position: absolute;
  inset: 0;
  max-width: $maxWidthSmallContainer;
  transform-origin: 50% 50%;
  will-change: transform;
  background-image: url('/images/lp_v10/Shine1.png');
  background-size: 100% 120%;
  background-repeat: no-repeat;
  background-position: center;
  animation: spinScaleCW 5s cubic-bezier(0.42, 0, 0.58, 1) infinite alternate;
}

.legendsSectionShine2 {
  position: absolute;
  inset: 0;
  max-width: $maxWidthSmallContainer;
  transform-origin: 50% 50%;
  will-change: transform;
  background-image: url('/images/lp_v10/Shine2.png');
  background-size: 100% 130%;
  background-repeat: no-repeat;
  background-position: center;
  animation: spinScaleCCW 5s cubic-bezier(0.42, 0, 0.58, 1) infinite alternate;
  animation-delay: 1s;
}

.legendsSectionContainer {
  position: relative;
  max-width: $maxWidthContainer;
  margin: 0 auto;
  z-index: 1;
}

.legendsSectionMask {
  width: 100%;
  aspect-ratio: 891 / 386;
}

.legendsSectionTitle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 0 20px;
  z-index: 3;
  display: flex;
  justify-content: center;

  @media (min-width: $breakpoint_768) {
    width: 50%;
  }
}

.legendsSectionTitleImage {
  display: block;
  width: 100%;
}

.legendsSectionProviders {
  position: absolute;
  top: 50%;
  left: 0;
  width: 30%;
  padding: 0 16px;
  transform: translateY(-50%);
  z-index: 3;

  @media (min-width: $breakpoint_768) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #252525 100%);
    top: initial;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 20px;
    width: 100%;
  }
}

.legendsSectionProvidersContainer {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(4, 1fr);
  justify-content: flex-start;
  align-items: center;
  gap: 12px;

  @media (min-width: $breakpoint_768) {
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 3%;
    max-width: $maxWidthSmallContainer;
    padding: 16px 20px 4px;
    margin: 0 auto;
    gap: 0;
  }
}

.legendsSectionProvidersImage {
  display: block;
  aspect-ratio: 550 / 170;
}

.legendsSectionCoinsLeft {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 54%;
  z-index: 3;
}

.legendsSectionCoinsRight {
  position: absolute;
  top: 10%;
  right: 3%;
  width: 30%;
  z-index: 3;
}

.legendsSectionCoinsLeftImage {
  display: block;
  width: 100%;
}

// Mobile styles below

.legendsSectionMaskMobile {
  width: 78%;
  margin-left: auto;
  aspect-ratio: 747 / 611;
}

.legendsSectionCoinsMobile {
  position: absolute;
  top: 0;
  right: 0;
  width: 74%;
  z-index: 3;
}

.legendsSectionMobileOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #252525 100%);
}