.landingPageV7 {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-image: url(../../../public/images/lp_v7/Main_bg.avif), url(../../../public/images/lp_v7/Main_bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
