.landingPageV15 {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: #121212;

    // This will hide elements on mobile devices
    @media (max-width: 768px) {

        :global(.hideOnMobile),
        // If it's a global class
        .hideOnMobile,
        [class*="hideOnMobile"] {
            display: none !important;
        }
    }

    @media (min-width: 769px) and (max-width: 1024px) {

        :global(.hideOnMobile),
        // If it's a global class
        .hideOnMobile,
        [class*="hideOnMobile"] {
            display: none !important;
        }
    }
}