.landingPageV12 {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.centerSectionBG {
  background-image: url('../../../public/images/lp_v12/Center_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}