@use '../../../../styles/abstract/variables' as *;
@use '../../../../styles/abstract/breakpoints' as *;

.headerComponent {
    position: sticky;
    top: 0;
    z-index: 40;
    background-image: url('/images/lp_v15/desktop/top_bg2.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    // /* Gold outer border */
    // border-bottom: 1px solid #caa74a;

    // /* Dark metallic background */
    // background:
    //     linear-gradient(180deg,
    //         #3a3a3a 0%,
    //         #1e1e1e 40%,
    //         #0f0f0f 100%);

    // /* Top highlight line */
    // box-shadow:
    //     inset 0 1px 0 rgba(255, 215, 120, 0.6),
    //     inset 0 -1px 0 rgba(0, 0, 0, 0.8),
    //     0 4px 8px rgba(0, 0, 0, 0.4);

    // backdrop-filter: blur(2px);
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    max-width: $maxWidthSmallContainer;
    margin: 0 auto;
    padding: 4px 20px 8px;

    @media (min-width: $breakpoint_992) {
        padding: 4px 20px 6px;
    }
}

.headerLogoContainer {
    display: inline-block;
    max-width: 120px;
    position: relative;
    top: 4px;

    @media (min-width: $breakpoint_576) {
        max-width: 180px;
    }

    @media (min-width: $breakpoint_992) {
        max-width: 260px;
    }
}

.headerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 16px;
    padding-top: 6px;
    padding-bottom: 10px;
    margin-top: 4px;
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.20);
    font-family: "Exo 2";
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: 0.8px;
    border: none;
    outline: none;
    background-image: url('/images/lp_v7/LogInButton.png');
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 104px;
    min-width: 104px;
    height: 44px;
    cursor: pointer;
    transition:
        filter 0.2s ease,
        transform 0.2s ease;

    &:hover {
        filter: brightness(1.15);
        transform: scale(1.03);
    }
}

.headerbuttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.header_button {
    height: auto;
    max-height: 45px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.05);
    }
}

@media (max-width: 768px) {
    .headerbuttonContainer {
        gap: 10px;
    }

    .header_button {
        max-height: 35px;
    }
}

@media (max-width: 480px) {
    .headerbuttonContainer {
        gap: 7px;
    }

    .header_button {
        max-height: 25px;
    }
}