.vip-chat-theme {
  --main-color: #6929D8;
  --main-color-90: rgba(105, 41, 216, 0.9);
  --second-color: #2E156EFF;
  --second-color-light: #482e8c;

  --main-text-color: #FFF;
  --second-text-color: #D3D3D3FF;
  --new-messages-badge-color: #bcb6ca;

  --error-color: #A22534;
  --error-color-lighter: #f87171;
  --error-color-lightest: #F56476;

  --online-manager-status: #03FA1B;
  --offline-manager-status: #fa1301;

  --main-border-radius: 15px;
}